body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #b6baec;
  color: black;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  margin: 0;
  font-size: 4em;
}

.button-container {
  display: flex;
  gap: 10px;
}

.icon-button {
  position: relative;
  background-color: #d0d4f5; /* Slightly different color than the header */
  border: 2px solid #b6baec; /* Border color */
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.icon-button img {
  width: 24px;
  height: 24px;
}

.icon-button:hover {
  background-color: #a3a7e0; /* Darker background color on hover */
}

.icon-button:hover::after {
  content: attr(title);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  max-width: 200px; /* Ensure the tooltip doesn't exceed a certain width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allow the tooltip to wrap text */
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.baseCol {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.chart-item {
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.chart-item:nth-child(1),
.chart-item:nth-child(2) {
  flex: 1 1 30%;
}

.chart-item:nth-child(3) {
  flex: 1 1 20%;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

#totalJobsCount, #jobsThisWeekCount {
  font-size: 4em; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
  margin-top: 10px; /* Add some margin for spacing */
  display: flex;
  justify-content: center;
}

/* Add styles for the home button */
.home-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}